//custom changes can be made here for buttons or modal if needed to change any style issue.
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.full-height {
  height: 100vh;
}
.modal {
  height: 70vh;
  overflow-y: scroll;
}
.modal-background {
  background-color: rgba(0, 0, 0, 0.6);
}

.spinner {
  margin: 30px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
    overflow-y: initial !important;
  }
}
.modal-conent {
  overflow-y: scroll;
}

.modal-body {
  overflow-y: auto;
  height: 50vh;
}
.cursor-pointer {
  cursor: pointer;
}
.btn-primary {
  background-color: #46139f;
  border-color: #46139f;
}

.btn-primary:hover {
  background-color: #2b0b61;
  border-color: #2b0b61;
}

.btn-secondary {
  background-color: #ff7f50;
  border-color: #ff7f50;
}
.btn-secondary:hover {
  background-color: #9b4c2f;
  border-color: #9b4c2f;
}

.btn-outline-primary {
  border-color: #46139f;
  color: #46139f;
}

.btn-outline-primary:hover {
  border-color: #46139f;
  background-color: #46139f;
}
